<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
     <div class="wrapper">
   <center> 
        <header>
           <img src="{{ "/" | absolute_url }}assets/img/oscam-logo.png" alt="Logo" />
           <p>{{ site.description | default: site.github.project_tagline }}</p>
	   <p>Akuelle Version {{site.oscam-version }}</p>
	    <ul class="downloads">
 		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-dream_arm-{{site.oscam-version}}">Download <strong>Dream_arm {{site.oscam-version}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-dream_aarch64-{{site.oscam-version}}">Download <strong>Dream_aarch64 {{site.oscam-version}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-open_arm-{{site.oscam-version}}">Download <strong>Open_arm {{site.oscam-version}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-mipsel-{{site.oscam-version}}">Download <strong>Mips {{site.oscam-version}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-Linux-x86_64-{{site.oscam-version}}">Download <strong>Linux-x86_64 {{site.oscam-version}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-rpi_aarch64-{{site.oscam-version}}">Download <strong>Raspi_aarch64 {{site.oscam-version}}</strong></a></li>
	          <li><a href="{{ "/" | absolute_url }}oscams/oscam-oatv-beta7.5-{{site.oscam-version}}">Download <strong>Oatv beta 7.5 {{site.oscam-version}}</strong></a></li>
	    </ul>
	 <!-- <p>Ältere Version {{site.oscam-version-old }}</p>
	    <ul class="downloads">
 		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-dream_arm-{{site.oscam-version-old}}">Download <strong>Dream_arm {{site.oscam-version-old}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-dream_aarch64-{{site.oscam-version-old}}">Download <strong>Dream_aarch64 {{site.oscam-version-old}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-open_arm-{{site.oscam-version-old}}">Download <strong>Open_arm {{site.oscam-version-old}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-mipsel-{{site.oscam-version-old}}">Download <strong>Mips {{site.oscam-version-old}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-Linux-x86_64-{{site.oscam-version-old}}">Download <strong>Linux-x86_64 {{site.oscam-version-old}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-rpi_aarch64-{{site.oscam-version-old}}">Download <strong>Raspi_aarch64 {{site.oscam-version-old}}</strong></a></li>
		  <li><a href="{{ "/" | absolute_url }}oscams/oscam-oatv-beta7.5-{{site.oscam-version-old}}">Download <strong>Oatv beta 7.5 {{site.oscam-version-old}}</strong></a></li>    
	    </ul> //-->
	  </header>
      <footer>
          <p>This project is maintained by {{ site.github.owner_name }}</p>
      </footer>
   	    </center>
		 </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
